#main_header{
text-align: center;
color: lightsalmon;
background-color: lightgrey;
padding: 10px;
font-weight: 500;
}

.box1 h2{
    float: left;
}

.box1 button{
    float: right;
}

.container{
    margin-top: 50px;
}

h6{
    color: red;
    text-align: center;
}